/*____________ body html style _____*/
* {
    font-family: Verdana, sans-serif;}
  
  html,
  body {
    height: 100%;
    font-family: DejaVu Sans Mono, monospace;
    background-image: url("../images/sky.jpeg");
  }

  